{% extends '::base.twig' %}

{% trans_default_domain "IwinAppBundle" %}

{% block basePage %}
  <div id="wrapper">
    <header id="header" class="header">
      <strong class="logo"><a href="{{ path('home') }}">{{ var.title }}</a></strong>
      <a href="#user_profile" class="account">
				<span class="account__avatar">
					<img src="{{ asset('bundles/iwinapp/img/old/ico01.png') }}" height="17" width="17" alt="">
				</span>
        <span class="account__name"><span>{{ 'user.login'|trans }}</span></span>
      </a>
      <a href="#send_invite" class="btn wide square">{{ 'main.sendinvite'|trans }}</a>
      <nav id="sections">
        {% block topmenu %}
          {{ knp_menu_render('iwin.main') }}
        {% endblock %}
      </nav>
      <div class="bottom-block">
        <a href="#need_help" class="support-link">{{ 'main.needhelp'|trans }}</a>
        <ul class="lang">
          {% for lang in var.langs %}
            <li class="{{ app.request.locale == lang?'active':'' }}"><a href="{{ var.langlinks[lang] }}">{{ lang|upper }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </header>
    <div id="main" class="main">
      <div id="content" class="content">
        {% block globalhook_break_page %}
          {% block body %}
            {% block pageBase %}
              {% block page %}{% endblock %}
            {% endblock %}
          {% endblock %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock %}