{% extends '::page.twig' %}

{% trans_default_domain "IwinAppBundle" %}

{% block title %}
  Create Free
{% endblock %}

{% block page %}
  <div id="page_target"></div>
{% endblock %}

{% block pageTemplates %}
  {{ parent() }}

  {# @formatter:off #}
  {% raw %}
  {# Шаблон страницы CreateFree #}
  <script type="text/x-twig-template" data-id="iwin-app-createfree">
    <div class="create-content tabs">
      <ul class="tabset">
        {% for tab, title in tabs %}
        <li class="{{ tab==currentTab?'active':'' }}"><a href="#{{ tab }}" data-tab="{{ tab }}">{{ title }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        <div id="ad">
          <div class="create-ad">
            {{ block('pageBenefits') }}
            <div class="advertmodel-container"></div>
          </div>
        </div>
        <div id="task"></div>
        <div id="profile"></div>
      </div>
    </div>
  </script>

  {# Шаблон создания профиля #}
  <script type="text/x-twig-template" data-id="iwin-createfree-profile">
    <div class="create-profile">
      {% include 'iwin-advert-advert-benefits' %}

      <div class="profile-container"></div>

      <p style="text-align: center;margin-top: 2em"><button type="submit" class="btn advert-save">Save</button></p>
    </div>
  </script>

  {# Шаблон создания таска #}
  <script type="text/x-twig-template" data-id="iwin-qual-task">
    <div class="create-ad">
      {% include 'iwin-advert-advert-benefits' %}

      <h2 class="heading">Main information</h2>
      <div class="route-container"></div>

      <section class="main-info">
        <div class="coupon-holder"></div>
      </section>

      <section class="main-info">
        <h2 class="heading">Gallery</h2>

        <div class="message-tip">You can sort images by simply dragging them. - правда работает</div>
        <div class="gallery-container"></div>
      </section>

      <section class="videos">
        <h2 class="heading">Videos</h2>

        <div class="videos-container"></div>
      </section>

      <div class="profile-container"></div>

      <p style="text-align: center;margin-top: 2em"><button type="submit" class="btn advert-save">Save</button></p>
    </div>
  </script>

  {# Шаблон создания объявления #}
  <script type="text/x-twig-template" data-id="iwin-advert-advert">
    <div class="create-ad">
      {% include 'iwin-advert-advert-benefits' %}
      <section class="main-info">
        <div class="coupon-holder"></div>
      </section>

      <section class="main-info">
        <h2 class="heading">Gallery</h2>

        <div class="message-tip">You can sort images by simply dragging them. - правда работает</div>
        <div class="gallery-container"></div>
      </section>

      <section class="videos">
        <h2 class="heading">Videos</h2>

        <div class="videos-container"></div>
      </section>

      <div class="profile-container"></div>

      <p style="text-align: center;margin-top: 2em"><button type="submit" class="btn advert-save">Save</button></p>
    </div>
  </script>
  <script type="text/x-twig-template" data-id="iwin-advert-advert-benefits">
    <section class="benefits">
      <ul class="benefits__list">
        <li>
          <div class="icon">
            <img src="{{ asset('bundles/iwinapp/img/old/ico12.png') }}" height="30" width="30" alt="">
          </div>
          <div class="block">A large base of potential buyers</div>
        </li>
        <li>
          <div class="icon">
            <img src="{{ asset('bundles/iwinapp/img/old/ico13.png') }}" height="30" width="30" alt="">
          </div>
          <div class="block">Different ways to promote your ad</div>
        </li>
        <li>
          <div class="icon">
            <img src="{{ asset('bundles/iwinapp/img/old/ico14.png') }}" height="30" width="30" alt="">
          </div>
          <div class="block">Guarantee of service quality</div>
        </li>
      </ul>
      <div class="benefits__descr open-close">
        <div class="slide">
          <div class="holder">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, velit.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dignissimos nemo labore porro. Excepturi consectetur sapiente porro, dicta necessitatibus debitis.</p>
          </div>
        </div>
        <a href="#" class="opener">
          <span>All benefits you get</span>
          <span>Collapse</span>
        </a>
      </div>
    </section>
  </script>

  {# Шаблон списка категорий #}
  <script type="text/x-twig-template" data-id="iwin-shared-category-categories">
    <section class="category-choose">
      <h2 class="heading">Choose Category Of Your Ad</h2>
      <div class="holder">
        <div class="category-choose__list open-close">
          <ul>
            <li>
              <div class="icon">
                <img src="{{ asset('bundles/iwinapp/img/old/ico15.png') }}" height="24" width="24" alt="">
              </div>
              <a href="#popup-category" class="fancybox">appliances set up &amp; repair</a>
            </li>
            <li>
              <div class="icon">
                <img src="{{ asset('bundles/iwinapp/img/old/ico16.png') }}" height="24" width="24" alt="">
              </div>
              <a href="#popup-category" class="fancybox">pickup / delivery / moving</a>
            </li>
            <li>
              <div class="icon">
                <img src="{{ asset('bundles/iwinapp/img/old/ico17.png') }}" height="24" width="24" alt="">
              </div>
              <a href="#popup-category" class="fancybox">PC repair &amp; assistance</a>
            </li>
            <li>
              <div class="icon">
                <img src="{{ asset('bundles/iwinapp/img/old/ico18.png') }}" height="24" width="24" alt="">
              </div>
              <a href="#popup-category" class="fancybox">nurse &amp; healthcare</a>
            </li>
            <li>
              <div class="icon">
                <img src="{{ asset('bundles/iwinapp/img/old/ico19.png') }}" height="24" width="24" alt="">
              </div>
              <a href="#popup-category" class="fancybox">baby sitting / care</a>
            </li>
            <li>
              <div class="icon">
                <img src="{{ asset('bundles/iwinapp/img/old/ico20.png') }}" height="24" width="24" alt="">
              </div>
              <a href="#popup-category" class="fancybox">photo &amp; video</a>
            </li>
          </ul>
          <div class="slide js-slide-hidden" style="display: none;">
            <ul>
              <li>
                <div class="icon">
                  <img src="{{ asset('bundles/iwinapp/img/old/ico15.png') }}" height="24" width="24" alt="">
                </div>
                <a href="#popup-category" class="fancybox">appliances set up &amp; repair</a>
              </li>
              <li>
                <div class="icon">
                  <img src="{{ asset('bundles/iwinapp/img/old/ico16.png') }}" height="24" width="24" alt="">
                </div>
                <a href="#popup-category" class="fancybox">pickup / delivery / moving</a>
              </li>
              <li>
                <div class="icon">
                  <img src="{{ asset('bundles/iwinapp/img/old/ico17.png') }}" height="24" width="24" alt="">
                </div>
                <a href="#popup-category" class="fancybox">PC repair &amp; assistance</a>
              </li>
              <li>
                <div class="icon">
                  <img src="{{ asset('bundles/iwinapp/img/old/ico18.png') }}" height="24" width="24" alt="">
                </div>
                <a href="#popup-category" class="fancybox">nurse &amp; healthcare</a>
              </li>
              <li>
                <div class="icon">
                  <img src="{{ asset('bundles/iwinapp/img/old/ico19.png') }}" height="24" width="24" alt="">
                </div>
                <a href="#popup-category" class="fancybox">baby sitting / care</a>
              </li>
              <li>
                <div class="icon">
                  <img src="{{ asset('bundles/iwinapp/img/old/ico20.png') }}" height="24" width="24" alt="">
                </div>
                <a href="#popup-category" class="fancybox">photo &amp; video</a>
              </li>
            </ul>
          </div>
          <a href="#" class="opener">
            <span>SHOW ALL</span>
            <span>HIDE</span>
          </a>
        </div>
      </div>
    </section>
  </script>

  {# Шаблон списка купонов #}
  <script type="text/x-twig-template" data-id="iwin-app-coupon-coupons">
    {% if not couponEditing %}
      <section class="coupon-start">
        <h2 class="heading">Coupons</h2>
        <div class="holder">
          <div class="block">
            <span class="sub-title">Didn’t add any coupons yet?</span>
            <p>Don’t miss the chance to increase a number of customers!</p>
          </div>
          <a href="#add" class="btn-add">Add coupon</a>
        </div>
      </section>
    {% else %}
      <h2 class="heading">Coupon editing</h2>
      <section class="coupon-create">
        <div class="coupon-holder"></div>
      </section>
    {% endif %}
  </script>

  {# Шаблон редактирования купона #}
  <script type="text/x-twig-template" data-id="iwin-app-coupon-coupon">
    <div class="two-columns-input">
      <label>
        <div class="caption">Type of coupon</div>
        <div class="value-box">
          <select class="select2" name="type">
            {% for type in types.toArray %}
              <option value="{{ type.id }}">{{ type.title }}</option>
            {% endfor %}
          </select>
        </div>
      </label>
      <label>
        <div class="caption">Expires</div>
        <div class="value-box">
          <input type="text" class="date-field" name="expires"/>
        </div>
      </label>
    </div>
    {% if coupon.type.has_discount %}
      <div class="two-columns-input">
        <label>
          <div class="caption">Discount</div>
          <div class="value-box">
            <input type="text" name="discount.amount" />
          </div>
        </label>
        <label>
          <div class="caption"></div>
          <div class="value-box">
            <select class="select2" name="discount.isAbsolute">
              <option value="0">%</option>
              <option value="1">$</option>
            </select>
          </div>
        </label>
      </div>
    {% endif %}

    <div class="inner-tabs">
      <ul class="tabset">
        {% for lang, title in langs %}
          <li class="{{ lang==langsSelected?'active':'' }}">
            <a href="#iwin-coupon-tab" data-lang="{{ lang }}">{{ title }}{% if lang == langsDef %} <span>(default)</span>{% endif %}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for lang, title in langs %}
        {% if lang == langsSelected %}
          {% set mlPrefix = 'multilang['~(loop.index-1)~']' %}
          <label class="title">
            <div class="caption">Name</div>
            <div class="value-box">
              <div class="progress"></div>
              <input type="text" name="{{ mlPrefix }}.name" data-maxlength="100" class="limited-length" />
            </div>
          </label>
          <label class="textarea1">
            <div class="caption">Caption</div>
            <div class="value-box">
              <div class="progress"></div>
              <textarea cols="30" name="{{ mlPrefix }}.caption" rows="10" data-maxlength="200" class="limited-length"></textarea>
            </div>
          </label>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    <div class="value-box">
      <button type="submit" class="btn">Create</button>
      <button type="submit" class="btn btn-cancel">Cancel</button>
    </div>
  </script>

  {# Шаблон выбора маршрута #}
  <script type="text/x-twig-template" data-id="iwin-app-location-route">
    <div class="section" style="padding: 20px 50px;">
      <div class="location-box">
        <ul class="location-list">
          {% for i, location in list.toArray() %}
            <li data-ordinal="{{ i }}">
            {% if loop.index == 1 %}
              <div class="location-field">
                <a href="#popup-location" class="btn-location square fancybox">
                  <span>Choose on map</span>
                </a>
                {% if not location.isEmpty %}
                  <a href="#remove" class="btn-location-remove square remove" title="Remove location">Remove</a>
                {% endif %}
                <div class="location-input">
                  <input type="text" value="{{ location.address }}" readonly />
                </div>
              </div>
            {% else %}
              <div class="location-field">
                <a href="#remove" class="btn-location-remove square remove" title="Remove location">Remove</a>
                <a href="#popup-location" class="btn-location square"></a>
                <div class="location-input">
                  <input type="text" value="{{ location.address }}" readonly>
                </div>
              </div>
            {% endif %}
            </li>
          {% endfor %}
        </ul>
        <div style="text-align: right">
          <a href="#add" class="link-add-location add">Add location</a>
        </div>
      </div>
    </div>
    <div class="lightbox popup-location" id="popup-location" style="display: none">
			<div class="heading">
				<h3>Location A</h3>
				<a href="#cancel" class="close action-close" title="Close">Close</a>
			</div>
			<div class="holder">
				<div class="choose-location">
					<div class="map-holder">
						<div class="message-tip closable">
							<p>Place the insertion point on the map addresses and we will automatically fill in the address.</p>
							<a href="#" class="tip-close" title="Close">Close</a>
						</div>
						<div id="map"></div>
					</div>
					<div class="choose-form">
						<label><div class="caption">Address</div>
              <div class="value-box">
                <input type="text" class="address" readonly />
              </div>
            </label>
						<div class="actions">
							<a href="#confirm" class="btn confirm disabled">Confirm</a>
							<a href="#cancel" class="link-cancel action-close">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
  </script>

  {# Шаблон галереи изображений #}
  <script type="text/x-twig-template" data-id="iwin-app-images-gallery">
    <ul class="images {{ list.length>0?'':'drop-maximized' }}">
      {% for i, image in list.toArray() %}
        <li class="image" data-ordinal="{{ i }}">
          <img src="{{ image.uri }}" alt="{{ image.hash }}"/>
          <a href="#remove" class="btn-location-remove remove"></a>
        </li>
      {% endfor %}
      <li>
        <div class="drop"></div>
      </li>
    </ul>
  </script>

  {# Шаблон галереи видео #}
  <script type="text/x-twig-template" data-id="iwin-app-videos-videos">
    <ul>
      {% for i, video in _context.list.toArray() %}
        <li data-ordinal="{{ i }}">
          <input type="text" value="{{ video.uri }}" name="list[{{ i }}].uri" />
          <a href="#remove" class="btn-location-remove remove"></a>
        </li>
      {% endfor %}
      <li>
        <input type="text" value="" class="new"/>
        <button class="btn add">Добавить</button>
      </li>
    </ul>
  </script>

  {# Шаблон профиля #}
  <script type="text/x-twig-template" data-id="iwin-app-profile">
      <section>
        <h2 class="heading">Contact information</h2>
        <div class="profile-block">
          <div class="left-block">
             <div class="row">
              <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
             <div class="row">
               <input type="text"/>
             </div>
          </div>
          <div class="right-block">

          </div>
        </div>
      </section>
  </script>

  {# Шаблон социальных сетей #}
  <script type="text/x-twig-template" data-id="iwin-app-profile-socials">
      {% for social in list.toArray() %}
          <div class="social-btn {% if not social.type.isActive %}disable{% endif %}{% if social.type.isActive and social.isEmpty() %}connect{% endif %}" id="btn-{{ social.type.type }}" data-network="{{ social.type.type }}">
            {% if social.isEmpty() %}
              {{ social.type.type }}
            {% else %}
            <img src="{{ social.photo }}" class="user-photo"/>
              {{ social.name }}
            {% endif %}
          </div>
          {% if not social.isEmpty() %}
            <div class="remove" data-network="{{ social.type.type }}">
              X
            </div>
          {% endif %}
      {% endfor %}
  </script>

  {% endraw %}
  {# @formatter:on #}
{% endblock %}