{% extends '::page.twig' %}

{% trans_default_domain "IwinAppBundle" %}

{% block title %}
  {{ 'home.title'|trans }}
{% endblock %}

{% block page %}
  <div id="page_target" data-url="{{ oneup_uploader_endpoint('gallery') }}"></div>
{% endblock %}

{% block pageTemplates %}
  {{ parent() }}

  {# @formatter:off #}{% raw %}
  <script type="text/x-twig-template" data-id="iwin-app-images-gallery">
      <ul>
        {% for image in list.toArray() %}
          <li><img src="{{ image.uri }}" alt="{{ image.hash }}"/></li>
        {% endfor %}
        <li>
          <div class="drop" style="height: 150px; width: 150px; background-color: rgb(100,100,100)"></div>
        </li>
      </ul>
  </script>
  {% endraw %}{# @formatter:on #}
{% endblock %}