{# Шаблон галереи изображений #}
{# @formatter:off #}
{% raw %}
<script type="text/x-twig-template" data-id="iwin-shared-images-gallery">
   <ul class="images {{ list.length>0?'':'drop-maximized' }} {{ isMultiple?'multiple':'' }}">
    {% for i, image in list.toArray() %}
      <li class="image" data-ordinal="{{ i }}">
        <img src="{{ image.uri }}" alt="{{ image.hash }}"/>
        {% if isMultiple %}
          <a href="#remove" class="btn-location-remove remove"></a>
        {% endif %}
      </li>
    {% endfor %}
      <li>
        <div class="drop"></div>
      </li>
    </ul>
</script>
{% endraw %}
{# @formatter:on #}